/* Background */

.footer {
    position: absolute;
    width: 1440px;
    height: 527px;
    left: 0px;
    top: 0px;
    background: #7A8FFF;
}


/* Footer UI */

.footer>.ui {
    position: absolute;
    width: 1073px;
    height: 325px;
    left: 184px;
    top: 100px;
}

.footer>.companyname {
    position: absolute;
    height: 16px;
    left: 40%;
    right: 40.07%;
    top: calc(50% - 16px/2 + 153.5px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    /* White */
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}


/* Learn More */

.footer>.learnmore {
    position: absolute;
    left: 28.06%;
    right: 64.38%;
    top: 18.98%;
    bottom: 38.71%;
}


/* Learn More */

.learnmore>.learnheader {
    position: absolute;
    height: 21px;
    left: 0%;
    right: 5.21%;
    top: calc(50% - 21px/2 - 101px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    /* White */
    color: #FFFFFF;
}


/* learn box */

.learnmore>learnbox {
    position: absolute;
    height: 186px;
    left: 0%;
    right: -13.54%;
    top: calc(50% - 186px/2 + 24.5px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */
    /* White */
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}


/* Company Projects */

.footer>.projects {
    position: absolute;
    left: 39.24%;
    right: 50.42%;
    top: 18.98%;
    bottom: 55.79%;
}


/* Company Projects */

.projects>.projectheader {
    position: absolute;
    height: 21px;
    left: 0%;
    right: 51.01%;
    top: calc(50% - 21px/2 - 56px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    /* White */
    color: #FFFFFF;
}


/* projects content */

.projects>.projcontent {
    position: absolute;
    height: 90px;
    left: 0%;
    right: 24.83%;
    top: calc(50% - 90px/2 + 21.5px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */
    /* White */
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}


/* Divider */

.footer>.divider {
    position: absolute;
    left: 12.78%;
    right: 12.71%;
    top: 71.73%;
    bottom: 28.08%;
    /* White */
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.15;
    /* White */
    border: 1px solid #FFFFFF;
}


/* Contact Us */

.footer>.contactus {
    position: absolute;
    left: 54.1%;
    right: 30.62%;
    top: 18.98%;
    bottom: 62.05%;
}


/* Contact Us */

.contactus>.contactheader {
    position: absolute;
    height: 21px;
    left: 0%;
    right: 59.55%;
    top: calc(50% - 21px/2 - 39.5px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    /* White */
    color: #FFFFFF;
}


/* Phone number */

.footer>.phone {
    position: absolute;
    width: 228px;
    height: 51px;
    left: 0px;
    top: 49px;
}


/* Group 49 */

.phone>.phone1 {
    position: absolute;
    left: 0%;
    right: -3.64%;
    top: 49%;
    bottom: 33%;
}


/* Hotel Reservation: */

.phone>.hotel {
    position: absolute;
    height: 16px;
    left: 0%;
    right: 71.82%;
    top: calc(50% - 16px/2 - 1px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* White */
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
}


/* 800-880-3880 */

.phone1>.number {
    position: absolute;
    height: 16px;
    left: 34.09%;
    right: 16.82%;
    top: calc(50% - 16px/2 - 1px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* White */
    color: #FFFFFF;
}


/* Group 48 */

.phone>.phone2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 82%;
    bottom: 0%;
}


/* Company Office: */

.phone>.company {
    position: absolute;
    height: 16px;
    left: 0%;
    right: 46.63%;
    top: calc(50% - 16px/2 - 1px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* White */
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
}


/* +65 99988844 */

.phone2>.number2 {
    position: absolute;
    height: 16px;
    left: 54.92%;
    right: -8.81%;
    top: calc(50% - 16px/2 - 1px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* White */
    color: #FFFFFF;
}


/* picture*/

.footer>.picture {
    position: absolute;
    width: 157px;
    height: 128px;
    left: 61px;
    top: 54px;
    background: url();
}


/* Background */

.footer2 {
    position: absolute;
    width: 1440px;
    height: 594px;
    left: 0px;
    top: 0px;
    /* Dark */
    background: #0A142F;
}


/* Footer UI */

.footer2>.ui2 {
    position: absolute;
    width: 1074px;
    height: 393.06px;
    left: 183px;
    top: 100px;
}


/* Divider */

.footer2>.footdivider2 {
    position: absolute;
    left: 12.71%;
    right: 12.71%;
    top: 66.33%;
    bottom: 33.5%;
    /* White */
    background: #FFFFFF;
    opacity: 0.25;
}


/* Seasoned. Nimble. Remote. */

.footer2>.footheader2 {
    position: absolute;
    left: 32.15%;
    right: 32.22%;
    top: 16.84%;
    bottom: 73.74%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    /* identical to box height, or 140% */
    text-align: center;
    /* White */
    color: #FFFFFF;
}


/* We’re a diverse and passionate team that takes ownership of your design and empower you to execute the roadmap. We stay light on our feet and truly enjoy delivering great work. */

.footheader>.footcontent2 {
    position: absolute;
    left: 27.08%;
    right: 27.15%;
    top: 29.63%;
    bottom: 62.96%;
    /* Body */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    text-align: center;
    /* White */
    color: #FFFFFF;
    opacity: 0.8;
}

.footer2>.buttonclicks2 {
    /* Group 6 */
    position: absolute;
    left: 41.6%;
    right: 41.6%;
    top: 43.77%;
    bottom: 50.51%;
}

.buttonclicks2>.rectangle2 {
    /* Rectangle 2 */
    position: absolute;
    left: 51.18%;
    right: 41.6%;
    top: 43.77%;
    bottom: 50.51%;
    background: #F7F9FB;
    border-radius: 20px;
}


/* 👋 Contact */

.rectangle2>.buttonwords2 {
    position: absolute;
    left: 52.29%;
    right: 42.5%;
    top: 44.78%;
    bottom: 51.52%;
    /* Body */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* White */
    color: #FFFFFF;
}


/* Rectangle 3 */

.buttonclicks2>.rectangle2_2 {
    position: absolute;
    left: 41.6%;
    right: 50.83%;
    top: 43.77%;
    bottom: 50.51%;
    background: #F7F9FB;
    border-radius: 20px;
}


/* 👀 Insights */

.rectangle2_2>.buttonword2_2 {
    position: absolute;
    left: 41.74%;
    right: 47.5%;
    top: 44.78%;
    bottom: 51.52%;
    /* Body */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    color: #000000;
}